{% extends "base.html" %}
{% load static i18n %}
{% block title %}{{disease.name| title}}{% endblock %}

{% block css %}
{{ block.super }}

  <link href="{% static 'css/chart.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
  <h1>{{disease | title}}</h1>

  <div class="disease-details">
    <h2>Report per year</h2>
    <div id="chart-container">
      <svg viewBox="0 0 1000 500"/>
    </div>

    {% if pubs_by_country %}
      <h2>Top {{pubs_by_country | length}} countries</h2>
      <table>
        <tr>
          <th>Country</th>
          <th>Nb of publications</th>
        </tr>
      {% for country in pubs_by_country %}
        <tr>
          <td>{{ country.country }}</td>
          <td>{{ country.pubs }}</td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}

  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script src="https://d3js.org/d3.v5.min.js"></script>

  <script>
    const data = {{ year_stats | safe }};
    const max_pub = {{ max_publication }};
    const chart_title = 'Publications for {{ disease.name }} per year' ;
  </script>

  <script src="{% static 'js/bar-chart.js' %}"></script>
{% endblock javascript %}
