{% extends "base.html" %}
{% load static i18n %}
{% block title %}Diseases{% endblock %}

{% block content %}
  <h1>Diseases</h1>

  <div class="list-group">
    {% for disease in disease_list %}
      <h2 class="list-group-item-heading">
        <a href="{% url 'trends:disease' disease.slug %}">
          {{ disease }}
        </a>
      </h2>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
    <a href="{% url 'trends:disease_new' %}">Add a new disease report</a>
  {% endif %}
{% endblock content %}
